*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
  font-family: sans-serif;
  color: white !important
  ;
}
.location, .temperature{
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature{
  flex-direction: column;
}
.degree-sec{  
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-sec span{
  margin: 10px;
  font-size: 30px;
}
.degree-sec h2{
  font-size: 40px;
}
.mist, .rain{
  width: 40px;
  height: 40px;
}
#describe{
  height: 40px;
  width: 40px;
}